@if (auth.isAuthenticated()) {
  <header class="topbar">
    <div class="container topbar-inner">
      <a routerLink="/vagas" class="brand"><span>P</span> Pacto Carreiras</a>

      <nav aria-label="Navegação principal">
        <a routerLink="/vagas" routerLinkActive="active">Vagas</a>
        @if (auth.isAdmin()) {
          <a routerLink="/admin/candidatos" routerLinkActive="active"
            >Candidatos</a
          >
        } @else {
          <a routerLink="/candidaturas" routerLinkActive="active"
            >Candidaturas</a
          >
        }
        <a routerLink="/notificacoes" routerLinkActive="active">Notificações</a>
      </nav>

      <div class="user-area">
        <span>{{ auth.user()?.name }}</span>
        <button class="logout" type="button" (click)="auth.logout()">
          Sair
        </button>
      </div>
    </div>
  </header>
}

<router-outlet />
